.selected{
  background-color: #1aff66;
}

.delete-button{
  background-color: #FF2400;
}

.table-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 0 0 auto;
  align-items: flex-start;
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 0 0 auto;
  align-items: flex-start;
}
