<!-- Have to apply specific styles here due to overriding layout.css. Need to find better solution-->
<style>
.selected{
  background-color: #1aff66;
}

.delete-button{
  background-color: #FF2400;
}

.table-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 0 0 auto;
  align-items: flex-start;
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 0 0 auto;
  align-items: flex-start;
}
</style>

<h3>Family Budget</h3>
<p><i>All entered information is calculated on a PER MONTH basis.</i></p>
<h4>Enter Expenses:</h4>
<div class=input-container>  
<input id="name" name="name" placeholder="Expense name" required>
<input id="amount" name="amount" type="number" step="0.01" placeholder="Amount" required>
<select name="allotment" id="allotment">
  <option value="Bills">Bills</option>
  <option value="Savings">Savings</option>
</select>
<button type="button" onclick="addExpense()">Add</button>

<h4>Enter Income:</h4>
<input id="income-name" name="income-name" placeholder="income name" required>
<input id="income-amount" name="income-amount" type="number" step="0.01" placeholder="Amount" required>
<button type="button" onclick="addIncome()">Add</button>
</div>

<hr>

<div class="table-container">
  
<table id="expense-table">
  <thead>
  <tr>
  <th>Expense</th>
  <th>Amount</th>
  <th>Allotment Account</th>
  </tr>
  </thead>
  <tbody id="expense-list">
    <tr id="expense-total-row">    
    <td><strong>Total</strong></td>
    <td id="expense-total-amount">$0</td>
    </tr> 
  </tbody>
</table>
<button class="delete-button" type="button" onclick="deleteExpense()">Delete Selected Expense</button>


<table id="income-table">
  <thead>
  <tr>
      <th>Income</th>
      <th>Amount</th>
  </tr>
  </thead>
  <tbody id="income-list">
   <tr id="income-total-row">
    <td><strong>Total</strong></td>
    <td id="income-total-amount"></td>
    </tr>
  </tbody>
</table>
<button class="delete-button" type="button" onclick="deleteIncome()">Delete Selected Income</button>

<table>
    <thead>
  <tr>
    <th>Breakdown Categories</th>
    <th>Amount</th>
  </tr>
    </thead>
    <tbody id="breakdown-table">
      <tr id="bd-income-total-row">
        <td><strong>Total Income</strong></td>
        <td id="bd-income-total-amount"></td>
      </tr>
      <tr id="bd-expense-total-row">
        <td><strong>Total Expenses</strong></td>
        <td id="bd-expense-total-amount"></td>
      </tr>
      <tr id="bd-per-check-expense-row">
        <td><strong>Per Check Expense</strong></td>
        <td id="bd-per-check-amount"></td>
      </tr>
      <tr id="bd-expense-from-savings-row">
        <td><strong>Expenses From Savings</strong></td>
        <td id="bd-expenses-from-savings-amount"></td>
      </tr>
      <tr id="bd-expenses-from-bills-row">
        <td><strong>Expenses From Bills</strong></td>
        <td id="bd-expenses-from-bills-amount"></td>
      </tr>
      <tr id="bd-savings-row">
        <td><strong>Amount to Savings</strong></td>
        <td id="bd-savings-amount"></td>
      </tr>
    </tbody>
</table>
</div>


<script src="/static/js/budgetController.js"></script>  

